@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.searchContainer {
  width: 100vw;
  height: calc(100vh - var(--header-height));
  padding: 50px 20px;
  margin-top: 50px;
  background-color: #cae9ff;
  transition: background-color 0.3s;

  :root[theme='dark'] & {
    background-color: #252627;

    .description {
      color: colors.$WHITE;
    }

    .searchButton {
      background-color: #616161;
    }
  }
}

.description {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: -0.018em;
}

.searchInputWarrper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border-radius: 1.5rem;
  box-shadow: 0 5px 5px #1e20251a;

  .searchForm {
    width: 100%;
  }

  svg {
    position: absolute;
    right: 1.2rem;
    bottom: 1rem;
    width: 16px;
    fill: #2d3d50;
  }
}

.searchInput {
  width: 100%;
  height: 3rem;
  padding: 0 0 0 2.5rem;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 42px;
}

.searchButton {
  display: none;
}

.dropdown {
  max-height: 23rem;
  padding: 24px;
  margin: 15px auto;
  overflow: scroll;
  background-color: #ffffff;
  border-radius: 15px;

  span {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6px;
    color: rgb(106, 115, 123);
    letter-spacing: -0.018em;
  }

  li {
    display: flex;
    padding: 12px;
    margin-top: 8px;
    cursor: pointer;
  }

  li:hover,
  li:active,
  .isFocus {
    background-color: rgba(0, 0, 0, 6%);
    border-radius: 10px;
  }

  a {
    color: colors.$BLACK;
    text-decoration: none;
    outline: none;
  }

  svg {
    width: 16px;
    margin-right: 5px;
    fill: #2d3d50;
  }
}

@include responsive.after(MD) {
  .description {
    font-size: 2.125rem;
    line-height: 1.6;
    letter-spacing: -0.018em;
  }

  .searchInputWarrper {
    max-width: 572px;
    margin: auto;
    margin-top: 16px;
    border-radius: 42px;
    box-shadow: none;

    .searchInput {
      width: 460px;
      height: 64px;
      border-radius: 42px 0 0 42px;
    }

    .searchButton {
      display: inline-block;
      width: 7rem;
      height: 64px;
      padding: 0 1rem;
      font-size: 1.125rem;
      font-weight: 700;
      color: colors.$WHITE;
      letter-spacing: 3px;
      letter-spacing: -0.018em;
      background-color: #347ae1;
      border-radius: 0 42px 42px 0;
    }

    svg {
      bottom: 1.4rem;
      left: 1rem;
    }
  }

  .dropdown {
    max-width: 560px;
  }
}
